@charset "UTF-8";

@font-face {
  font-family: "love-extension";
  src:url("../fonts/love-extension.eot");
  src:url("../fonts/love-extension.eot?#iefix") format("embedded-opentype"),
    url("../fonts/love-extension.woff") format("woff"),
    url("../fonts/love-extension.ttf") format("truetype"),
    url("../fonts/love-extension.svg#love-extension") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "love-extension" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "love-extension" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "b";
}

body {
  min-width: 257px;
  overflow-x: hidden;
  margin: 0;
}
p.small{
  font-size: 0.9em;
  line-height: 1.5em;
}
p.light{
  color: #bbb;
}
.bmb-logo{
  display: inline-block;
  height: 48px;
  width: 48px;
  background: url(../img/sprite.png) no-repeat;
  margin-bottom: 15px;
}
.add-url{
  cursor: pointer;
}
.hide-add-url .add-url{
  cursor: default;
}
.add-url .bmb-logo{
  background-position: 0 -48px;
}
.add-url:hover .bmb-logo{
  background-position: 0 0;
}
.hide-add-url .add-url a{
  display: none;
}
.hide-add-url .add-url .bmb-logo{
  background-position: 0 0;
  margin-bottom: 0;
}
.disabled.hide-add-url .add-url .bmb-logo{
  background-position: 0 -48px;
}
.disabled.hide-add-url .add-url:hover .bmb-logo{
  background-position: 0 -48px;
}
.top{
  padding: 10px;
  text-align: center;
}
.top a{
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}
.top a:hover{
  color: #000;
}
.options{
  border-top: 1px solid #eee;
  padding: 5px 10px;
  background: #f9f9f9;
}
.options p{
  margin: 0;
}
.options p a{
  text-decoration: none;
  color: #888;
  font-weight: bold;
  margin-right: 12px;
}
.options p a .icon-heart{
  color: red;
  margin-top: 1px;
  float: left;
  font-size: 1.2em;
  margin-right: 4px;
}
.options p a:hover{
  color: #333;
}
#re-enable{
  display: none;
}
#re-enable img{
  float: left;
  margin-right: 4px;
}
.disabled #re-enable{
  display: inline;
}

.adding-url, .adding-url-show .add-url{
  display: none;
}
.adding-url-show .adding-url{
  display: block;
}
*:focus  {  
  outline: none;  
}